<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Email Client</title>
<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
</head>
<body class="text-center">
<div class="container">
<h1>Inbox</h1>
<form class="form-inline d-flex justify-content-center md-form form-sm mt-0"> 
<i class="fas fa-search" aria-hidden="true"></i> 
<input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search Emails" aria-label="Search"> 
</form> 
<table class="table">
<thead class="thead-dark">
<tr>
<th scope="col">Sender</th>
<th scope="col">Subject</th>
<th scope="col">Time</th>
</tr>
</thead>
<tbody>
<tr>
<td>sender1</td>
<td>subject1</td>
<td>time1</td>
<tr>
<tr>
<td>sender1</td>
<td>subject1</td>
<td>time1</td>
<tr>
<tr>
<td>sender1</td>
<td>subject1</td>
<td>time1</td>
<tr>
<tr>
<td>sender1</td>
<td>subject1</td>
<td>time1</td>
<tr>
<tr>
<td>sender1</td>
<td>subject1</td>
<td>time1</td>
<tr>
</tr>
</tbody>
</table>
<table class="table">
<form action="sendmail">
<button class="btn btn-lg btn-primary btn-block" type="submit">Send mail</button>
</form>
</div>
</body>
</html>
