<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Email Client</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href="styles.css">

  </head>
  <body class="text-center">
    <div class="container">
      <h1>Email Thingy Majigy</h1>
      <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">First</th>
      <th scope="col">Subject</th>
      <th scope="col">Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mark</td>
      <td>The Cheese is Cold</td>
      <td>12.37 A.M.</td>
    </tr>
    <tr>
      <td>Mark</td>
      <td>I Put the Cheese in the Microwave</td>
      <td>12.38 A.M.</td>
    </tr>
    <tr>
      <td>Mark</td>
      <td>Fondue</td>
      <td>12.39 A.M.</td>
    </tr>
    <tr>
      <td>Cheese</td>
      <td>Mark is Dead</td>
      <td>12.40 A.M.</td>
    </tr>
  </tbody>
</table>

<table class="table">
    </div>
  </body>
</html>